capstone-data-scraper/__pycache__/*
capstone-data-scraper/venv
capstone-data-scraper/.DS_Store
capstone-data-scraper/.idea
capstone-data-scraper/training-data
capstone-data-scraper/photos
.idea
venv
__pycache__
capstone-rest/venv
capstone-rest/.idea
capstone-rest/__pycache__
capstone-data-scraper/training_data_512/

