<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href={{url_for('static', path="/styles.css")}}>
  <title>Ukrainian Embroidery</title>
</head>
<body>
  <h1> Ukrainian Embroidery Generator</h1>
  <img src={{url_for('static', path=img_path)}} alt="Ukrainian Embroidery Image">
</body>
</html>

